/* html {
  height: 100%;
  background-image: linear-gradient(to right, rgb(192, 149, 149), rgba(255, 0, 0, 0.094), rgb(192, 149, 149));
} */
html,
body {
  margin: 0px;
  height: 100%;
}

/* #root {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100%;
  background-image: linear-gradient(to right, rgb(192, 149, 149), rgba(255, 0, 0, 0.094), rgb(192, 149, 149));
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 900px;
  width: 350px;
  background: #ffd5d5;
  border-radius: 10px 10px 0px 0px;
}

.brushes {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  margin-left: 190px;
}

/* Info */

.photo {
  display: block;
  width: 350px;
  height: 317px;
  background: url(./assets/photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

h1 {
  margin: 20px 0 5px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.title {
  margin: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #f16565;
}

.link {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  margin: 10px;
  color: #4A4E74;
}

.button {
  /* Button */
  box-sizing: border-box;
  margin: auto;
  width: 247px;
  height: 34px;
  text-align: center;


  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

  /* white */

  background: #FFFFFF;
  /* gray/300 */

  border: 1px solid #D1D5DB;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.link:hover, .icon-link:hover {
  color:rgb(190, 66, 66)
}

.button:hover {
  background: rgb(224, 78, 78)
}

/* About and Interests */

.about {
  margin-top: 20px;
}

h2 {
  font-family: 'Inter';
  margin: 5px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #2B283A;
}

p {
  margin: 0 35px 0px 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  /* or 15px */
  color: #4A4E74;
}

/* Footer */

footer {
  margin-top: 70px;
  background: #ea9797;
  border-radius: 0px 0px 10px 10px;
  height: 57px;
}

ul {
  list-style-type: none;
  gap: 20px; 
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Blue */
.container-blue {
  height: 100%;
  background-image: linear-gradient(to right, rgb(13, 11, 118), rgba(86, 135, 187, 0.765), rgb(13, 11, 118));
}

.h1-blue {
  color: white;
}

.h2-blue {
  color: #D1D5DB;
}

.p-blue {
  color: #D1D5DB;
}

.title-blue {
  color:#e0e0e0;
}

.main-blue {
  background: hsl(220, 50%, 51%);
}

.link-blue {
  color: #b7bacb;
}

.icon-blue {
  color: white
}

.link-blue:hover, .icon-link-blue:hover {
  color:rgb(0, 13, 255)
}

.button-blue:hover {
  background: rgb(29, 26, 184)
}

.footer-blue {
  background: rgb(13, 11, 118);
}

/* Red */
.container-red {
  height: 100%;
  background-image: linear-gradient(to right, rgb(192, 56, 7), rgba(231, 167, 138, 0.626), rgb(192, 56, 7));
}

.h1-red {
  color: white;
}

.h2-red {
  color: #D1D5DB;
}

.p-red {
  color: #D1D5DB;
}

.title-red {
  color:#e0e0e0;
}

.main-red {
  background: #dc7448;
}

.link-red {
  color: #cbc0b7;
}

.icon-red {
  color: white
}

.link-red:hover, .icon-link-red:hover {
  color:rgb(11, 7, 7)
}

.button-red:hover {
  background: #d64100;
}

.footer-red {
  background: #d7521a;
}

/* Green */
.container-green {
  height: 100%;
  background-image: linear-gradient(to right, rgb(60, 113, 66), rgb(142, 200, 149), rgb(60, 113, 66));
}

.h1-green {
  color: white;
}

.h2-green {
  color: #D1D5DB;
}

.p-green {
  color: #D1D5DB;
}

.title-green {
  color:#e0e0e0;
}

.main-green {
  background: #608f69;
}

.link-green {
  color: #b7cbb9;
}

.icon-link {
  color: white
}

.link-green:hover, .icon-link-green:hover {
  color:rgb(0, 75, 12)
}

.button-green:hover {
  background: rgb(0, 75, 12)
}

.footer-green {
  background: #406046;
}

/* Black */
.container-black {
  height: 100%;
  background-image: linear-gradient(to right, rgb(6, 5, 5), rgba(0, 0, 0, 0.509), rgb(6, 5, 5));
}

.h1-black {
  color: white;
}

.h2-black {
  color: #D1D5DB;
}

.p-black {
  color: #D1D5DB;
}

.title-black {
  color:#bfbfc1;
}

.main-black {
  background: #181616;
}

.link-black {
  color: #999999;
}

.icon-link {
  color: white
}

.link-black:hover, .icon-link-black:hover {
  color:rgb(85, 67, 89)
}

.button-black:hover {
  background: rgb(85, 67, 89)
}

.footer-black {
  background: #000000;
}